.topnav {
    background-color: #2b3b5f;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-right: 30px;

    & a {
        float: left;
        color: white;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    & a:hover {
        background-color:  #0a1d37;
    }

    & a.active {
        background-color: #0a1d37;
    }
}