:root {
  --mobile: 450px;
}

.App {
  background-color: #110011;
  background-image: linear-gradient(180deg, #110011 0%, #2b3b5f 53%, #110011 100%);
  color: white;
  height: 100svh;
}

@media (max-width: 450px) {
  .App {
    height: 100%;
  }
}
